{% extends "minimal_layout.html" %}
{% block title %}{{ _('Restore Admin') }}{% endblock %}
{% block content %}
{{ super() }}


<div class="row align-items-center">
	<div class="col-4 offset-4">
		<div class="card">
			<div class="card-header text-white bg-danger"><b>{{ _('Reset Admin Password') }}</b></div>
			<div class="card-body">
				<form role="form" method="post" action="/restore_admin">
					{{ rap_form.hidden_tag() }}
					<div class="form-group">
				    	{{ rap_form.skey.label }}:
				    	{{ rap_form.skey(class='form-control',autofocus='autofocus', required='required') }}
					</div>
					<div class="form-group">
				    	{{ rap_form.username.label }}:
				    	{{ rap_form.username(size=12,class='form-control', required='required') }}
					</div>
					<div class="form-group">
				    	{{ rap_form.userpass.label }}:
				    	{{ rap_form.userpass(size=128,class='form-control', required='required') }}
					</div>
					<div class="form-group">
				    	{{ rap_form.ruserpass.label }}:
				    	{{ rap_form.ruserpass(size=128,class='form-control', required='required') }}
					</div>
					{{ rap_form.submit(class='btn btn-danger col-12') }}
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
