{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Search') }} '{{search}}'{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
	<div class="col-12 border border-top-0 border-left-0 border-right-0">
		<h1><i class="fa fa-search"></i> {{ _('Search') }} <i>"{{search}}"</i></h1>
	</div>
</div>
{% if not any(servers) and not any(players) %}
<h1 class="text-center tex-muted mt-3">
	{{ _('NO RESULTS') }}
</h1>
{% endif %}

{% if servers %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{{ _('Servers') }}
			</div>
			<table class="table table-sm table-hover table-striped table-vertical-aligned">
				<thead>
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col">{{ _('Status') }}</th>
						<th scope="col">{{ _('Port') }}</th>
						<th scope="col">{{ _('Game Type') }}</th>
						<th scope="col">{{ _('Server Name') }}</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for mod_inst in servers %}
					<tr id="srv-line-{{mod_inst.id}}" class="{% if mod_inst.status == 'Running' %}success{% endif %}">
						<td class="col-1 srv-flags">
							<i class="fa {% if not mod_inst.visible %}fa-eye-slash{% else %}fa-eye{% endif %} tw-no-register" {% if mod_inst.visible %}title="{{ _('Register Server') }}" {% else %}style="color:#BBB;" title="{{ _('Not Register Server') }}" {% endif %}></i>
							<i class="fa fa-lock tw-password" {% if mod_inst.public %}style="color:#BBB;" title="{{ _('Public Server') }}" {% else %}title="{{ _('Private Server') }}" {% endif %}></i>
						</td>
						<td class="col-1 srv-status">{{_("Running") if mod_inst.status else _("Stopped")}}</td>
						<td class="col-1 srv-port">{{mod_inst.port}}</td>
						<td class="col-2 srv-gametype">{{mod_inst.gametype}}</td>
						<td class="col-4 srv-name">{{mod_inst.name}}</td>
						<td class="col-3 text-right">
							<a class="btn btn-xs btn-default" href="/server/{{mod_inst.id}}" title="{{ _('Server Instance Information') }}"><i class="fa fa-info"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}

{% if players %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{{ _('Players') }}
			</div>
			<table class="table table-responsive-sm table-striped">
				<thead>
					<tr>
						<th scope="col">{{ _('Name') }}</th>
						<th scope="col">{{ _('Created') }}</th>
						<th scope="col">{{ _('Last Seen') }}</th>
					</tr>
				</thead>
				<tbody>
				{% for player in players %}
					<tr id="ply-line-{{player.id}}" class="{% if player.status == 1 %}success{% endif %}">
						<td>{{player.name|safe}}</td>
						<td class="col-3">{{ format_datetime(player.create_date, 'short') }}</td>
						<td class="col-3">{{ format_datetime(player.last_seen_date, 'short') }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}


{% endblock %}
{% block script %}
{% endblock %}
