{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Server Info') }}{% endblock %}
{% block content %}
{{ super() }}

{% set is_online = True if netinfo.gametype else False %}

{% if server %}
{% set uidperms = get_uid_permission_level(server.id) %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/servers">{{_('Servers')}}</a></li>
  <li class="breadcrumb-item active">{{server.base_folder}}</li>
</ol>

<div class="row mb-1">
  <div class="col-12 border border-top-0 border-left-0 border-right-0">
  	<h1><i class="fa fa-info"></i> {{ is_online and netinfo.name or server.name }}</h1>
  </div>
</div>

<div class="row mb-5">
	<div class="col-lg-6 col-sm-12">
		{% if is_online %}<p>{{_('Uptime:')}} <span id="uptime">&nbsp;</span></p>{% endif %}
	</div>
	<div class="col-lg-6 col-sm-12 text-right">
		<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_create_banner"><i class="fa fa-picture-o" style="margin-right:0.3em;"></i>{{_('Create Banner')}}</button>
	</div>
</div>

<ul class="nav nav-tabs mb-2 nav-justified" role="tablist">
	<li class="nav-item active"><a href="#general" class="nav-link active" role="tab" data-toggle="tab">{{ _('General') }}</a></li>
	<li class="nav-item"><a href="#players" class="nav-link" data-toggle="tab">{{ _('Players') }}</a></li>
	{% if session.logged_in and uidperms.log %}
  	<li class="nav-item"><a href="#log" class="nav-link" role="tab" data-toggle="tab">{{ _('Log') }}</a></li>
	{% endif %}
</ul>

<div class="tab-content" style="margin-top:1.5em;">
	<div class="tab-pane active" id="general">
		{% if session.logged_in and uidperms.issues %}
    <div class="row mb-3">
   		<div class="col-12">
  			<strong><i class="fa fa-exclamation"></i> {{ _('Issues') }}</strong> <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" id="issues_count" data-target="#modal_instance_issues">0</button>
  		</div>
    </div>
		{% endif %}

    <div class="row mb-3">
  		<div class="col-md-2 col-sm-12" id="server-status">
  			<div class="pill-server card" style="background-color:{{ is_online and '#438D43' or '#B05454' }};">
  				<i class="fa fa-power-off fa-4x"></i>
  				<span>{{_('Status')}}</span>
  				<b style="color:{{ is_online and '#C5E0C5' or '#FFE0E0' }};">{{ is_online and _('Online') or _('Offline') }}</b>
  			</div>
  		</div>
  		<div class="col-md-2 col-sm-12" id="server-address">
  			<div class="pill-server card" style="background-color:#719696;">
  				<i class="fa fa-server fa-4x"></i>
  				<span>{{_('Address')}}</span>
	  			<b>{{ip}}:{{server.port}}</b>
	  		</div>
  		</div>
  		<div class="col-md-2 col-sm-12" id="server-gametype">
  			<div class="pill-server card" style="background-color:#B07E54;">
  				<i class="fa fa-puzzle-piece fa-4x"></i>
  				<span>{{_('Game Type')}}</span>
	  			<b>{{ netinfo.gametype or server.gametype }}</b>
	  		</div>
  		</div>
  		<div class="col-md-2 col-sm-12" id="server-map">
  			<div class="pill-server card" style="background-color:#915D31;">
  				<i class="fa fa-map fa-4x"></i>
  				<span>{{_('Map')}}</span>
	  			<b>{{ is_online and netinfo.map or '. . .' }}</b>
	  		</div>
  		</div>
   		<div class="col-md-2 col-sm-12" id="server-players">
   			<div class="pill-server card" style="background-color:#326A6A;">
   				<i class="fa fa-group fa-4x"></i>
   				<span>{{_('Players')}}</span>
  				<b>{{ is_online and '%d/%d' % (netinfo.players,netinfo.max_players) or '. . .' }}</b>
  			</div>
  		</div>
  		<div class="col-md-1 col-sm-12" id="server-visible">
  			<div class="pill-server card" style="background-color:#9775AA;">
  				<i class="fa fa-eye fa-3x"></i>
  				<span>{{_('Visible')}}</span>
	  			<b>{{ server.visible and _('Yes') or _('No') }}</b>
	  		</div>
  		</div>
  		<div class="col-md-1 col-sm-12" id="server-public">
  			<div class="pill-server card" style="background-color:#764B8E;">
  				<i class="fa fa-lock fa-3x"></i>
  				<span>{{_('Public')}}</span>
	  			<b>{{ server.public and _('Yes') or _('No') }}</b>
	  		</div>
  		</div>
    </div>

    <div class="row mb-3">
  		<div class="col-12">
  			<div class="card">
  				<div class="card-header">
  					{{ _('Players in the last 7 days...') }}
  				</div>
  				<div class="card-body text-center" style="padding:0;">
  					<div id="chart-players-7d"></div>
  				</div>
  			</div>
  		</div>
    </div>

    <div class="row mb-3">
  		<div class="col-12">
  			<div class="card">
  				<div class="card-header">
  					{{ _('Players in the last 24 hours...') }}
  				</div>
  				<div class="card-body text-center" style="padding:0;">
  					<div id="chart-players-24h"></div>
  				</div>
  			</div>
  		</div>
    </div>

    <div class="row mb-3">
  		<div class="col-md-6 col-sm-12">
  			<div class="card">
  				<div class="card-header">
  					{{ _('Top 5 - Clans') }}
  				</div>
  				<div class="card-body text-center" style="padding:0;">
  					<div id="chart-active-clan"></div>
  				</div>
  			</div>
  		</div>
  		<div class="col-md-6 col-sm-12">
  			<div class="card">
  				<div class="card-header">
  					{{ _('Top 5 - Countries') }}
  				</div>
  				<div class="card-body text-center" style="padding:0;">
  					<div id="chart-active-country"></div>
  				</div>
  			</div>
  		</div>
    </div>

		{% if session.logged_in and session.uid == SUPERUSER_ID %}
    <div class="row">
  		<div class="col-12 mb-3">
  			<strong>{{_("USER'S ACTIVITY HISTORY")}}</strong><span class="line-divisor-section"></span>
  		</div>
    </div>
    <div class="row">
		  {% for reg in users_reg %}
  		<div class="col-12" style="font-size:x-small;">
  			<div class="card p-2 rounded-0">
          <div clss="card-body">
    				<div class="card-title">
    					<b>{{reg.user.username.upper()}} {% if reg.user_id == SUPERUSER_ID %}({{_('Administrator')}}){% endif %}</b>
    					<span class="text-muted pull-right">{{format_datetime(reg.date)}}</span>
    				</div>
    				<p class="card-text">
    					{{reg.message}}
    				</p>
          </div>
  			</div>
  		</div>
      {% endfor %}
      {% if not users_reg %}
      <h4 class="text-center text-muted">
        {{ _('No activity found!') }}
      </h4>
      {% endif %}
    </div>
		{% endif %}
  </div>

  <div class="tab-pane" id="players">
  	{% if is_online %}
		<table class="table table-responsive-sm table-hover table-striped">
			<thead>
				<tr>
					<th scope="col">{{ _('Score') }}</th>
					<th scope="col">{{ _('Name') }}</th>
					<th scope="col">{{ _('Clan') }}</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
	  		{% for player in netinfo.playerlist %}
	  			<tr>
	  				<td class="col-1 pl-score">{{player.score|safe}}</td>
	  				<td class="col-5 pl-name">{{player.name|safe}}</td>
	  				<td class="col-2 pl-clan">{{player.clan|safe}}</td>
	  				<td class="col-4 pl-actions text-right">
	  					{% if session.logged_in and server.econ_port and server.econ_password %}
  						<a data-name="{{player.name|safe}}" class="kick-player btn btn-xs btn-warning">
					        <i class="fa fa-fire"></i> {{ _('Kick') }}
					    </a>
  						<a data-name="{{player.name|safe}}" class="ban-player btn btn-xs btn-danger">
					        <i class="fa fa-ban"></i> {{ _('Ban') }}
					    </a>
					    {% endif %}
	  				</td>
	  			</tr>
	  		{% endfor %}
  			</tbody>
  		</table>
  	{% else %}
  		<h1 class="text-center tex-muted mt-3">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-server fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			{{ _('SERVER OFFLINE') }}
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-server fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
		</h1>
  	{% endif %}
  	</div>
{% if session.logged_in and uidperms.log %}
  	<div class="tab-pane" id="log">
  	{% if not server.logfile %}
  		<h1 class="text-center tex-muted mt-3">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-file-text-o fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			{{ _('NO LOG DEFINED') }}
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-file-text-o fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
		</h1>
	{% elif uidperms.log %}
		{% include "includes/server_log.html" %}
  	{% endif %}
  	</div>
{% endif %}
</div>
{% else %}
<h1 class="text-center"><i class="fa fa-frown-o fa-lg"></i><br/>{{ _('SERVER NOT FOUND') }}</h1>
{% endif %}


{% if session.logged_in and uidperms.issues %}
	{% include 'includes/modal_instance_issues.html' %}
{% endif %}

{% include 'includes/modal_create_banner.html' %}

{% endblock %}
{% block script %}
	{% if server %}
	<script type="text/javascript">
		"use strict";
		var $SRVID = {{ server.id|tojson|safe }};
		var $SRV_LAUNCH_DATE = {{server.launch_date|tojson|safe}};

		var $BABEL_STR_PLAYERS = {{_("Players")|tojson|safe}};
		var $BABEL_STR_UNKNOWN = {{_("Unknown")|tojson|safe}};
		var $BABEL_STR_YEARS = {{_("Year(s)")|tojson|safe}};
		var $BABEL_STR_MONTHS = {{_("Month(s)")|tojson|safe}};
		var $BABEL_STR_DAYS = {{_("Day(s)")|tojson|safe}};
		var $BABEL_STR_HOURS = {{_("Hour(s)")|tojson|safe}};
		var $BABEL_STR_MINUTES = {{_("Minute(s)")|tojson|safe}};
		var $BABEL_STR_SECONDS = {{_("Second(s)")|tojson|safe}};
	</script>
	{% endif %}
	{% assets filters='jsmin', output='gen/server.min.js', 'js/server.js', 'js/log.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
