{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_instance_issues' %}

{% block head_content %}
<h4 class="modal-title">{{ _('Issues') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body" style="max-height:400px; overflow:auto;">
	<table class="table table-responsive-sm table-hover table-striped">
		<thead><tr><th>{{ _('Date') }}</th><th>{{ _('Message') }}</th></tr></thead>
		<tbody id="issues-list"></tbody>
 		</table>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<nav class="pull-left">
		<ul class="pagination m-0"></ul>
	</nav>
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
</div>
{% endblock %}
