<div class="p-5">
	<form class="form-inline pull-right">
		<div class="form-group">
			<label for="filter-type">{{_('Filter by')}} &nbsp;</label>
			<select class="select2" id="filter-type" data-minimum-results-for-search="-1" style="width:150px;" name="type">
				<option value="0">&nbsp;</option>
				<option value="1">{{_('Errors')}}</option>
				<option value="2">{{_('Warnings')}}</option>
				<option value="3">{{_('Highlighted')}}</option>
			</select>
			<select class="select2" id="filter-order" data-minimum-results-for-search="-1" style="width:100px;" name="order">
				<option value="0">{{_('Desc')}}</option>
				<option value="1">{{_('Asc')}}</option>
			</select>
		</div>
	</form>
	<div class="row">
		<nav class="pull-left">
			<ul class="pagination m-0"></ul>
		</nav>
	</div>
</div>
<table class="table table-condensed table-hover table-striped">
	<thead>
		<tr>
			<th scope="col">{{ _('Date') }}</th>
			<th scope="col">{{ _('Section') }}</th>
			<th scope="col">{{ _('Message') }}</th>
		</tr>
	</thead>
	<tbody id='server-log'>
	</tbody>
</table>
